@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}


<section class="btnTopSection">
    <div class="row">
        <div class="col-8 TiteSEction pl-5">
            <a class="LayoutActionLink mr-2" href="#">
                All Orders
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Open
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Pending
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Delivered
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                UnPaid
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Paid
            </a>
        </div>
        <div class="col-4 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Export to Excel
            </a>
            <a class="LayoutActionLink" href="/ReceivingOrdes/Create">
                Add Orders +
            </a>

        </div>

    </div>

</section>
<section class="TableSection ">
    <div class="row">
        <div class="col-md-2 TiteSEction pl-5">
            <p class="LayoutsH1">
                Order List
            </p>
        </div>
        <div class="col-md-10 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Today
            </a>
            <a class="LayoutActionLink" href="#">
                Week
            </a>
            <a class="LayoutActionLink" href="#">
                Month
            </a>
        </div>

    </div>
    <table id="example" class="display nowrap" style="width:100%">
        <thead class="THeader">

            <tr>
                <th> <input type="checkbox" class="TblCHk">OrderId</th>
                <th>Shipping Adress</th>
                <th>Shipping Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>User Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.orders)
            {
                <tr>

                    <td><input type="checkbox" class="TblCHk">@item.OrderId</td>
                    <td>@item.ShippingAdress</td>
                    <td>@item.ShippingDate</td>
                    @if (item.Status == "Pending")
                    {
                        <td><span class="red"> @item.Status</span></td>

                    }
                    else if (item.Status == "Unpaid")
                    {

                        <td><span class="purple"> @item.Status</span></td>

                    }
                    else
                    {
                        <td><span class="green"> @item.Status</span></td>

                    }
                    @if (item.type == "Online")
                    {
                        <td><span class="skyBlue"> @item.type</span></td>

                    }

                    else
                    {
                        <td><span class="orange"> @item.type</span></td>

                    }
                    <td><span class="red">click here</span></td>
                    <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
                </tr>

            }


        </tbody>
    </table>
</section>






