@model DAL.tblPartner


@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}



<div class="row">

    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>

                <li>Dashboard<span class="slash">/</span></li>
                <li>Buisness Partners<span class="slash">/</span></li>
                <li>Create Account</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5 row">
            <button class="alert alert-success"><i class="fas fa-code"></i>Charge Codes</button>
            <button class="alert alert-success"><i class="fas fa-boxes"></i>Storage Charges</button>
            <button class="alert alert-success"><i class="fas fa-baby-carriage"></i>Carrier Fees</button>
            <button class="alert alert-success"><i class="fas fa-money-bill"></i>Default Billing</button>
            <button class="alert alert-success"><i class="fas fa-money-bill-wave-alt"></i>Monthly Billing</button>
            <button class="alert alert-success"><i class="fas fa-calculator"></i> Billing Rate Multiplier</button>
            <button class="alert alert-success"><i class="fas fa-code"></i> NMFC Codes</button>
            <button class="alert alert-success"><i class="fas fa-passport"></i>Documents</button>

        </div>
        <div class="col-xs-12 PageTabs pl-5 row">
            <button class="alert alert-warning"><i class="fas fa-file-medical-alt"></i>Document Mapping</button>
            <button class="alert alert-warning"><i class="fas fa-unlink"></i>Channels</button>
            <button class="alert alert-warning"> <i class="fas fa-warehouse"></i>Inventory</button>
            <button class="alert alert-warning"><i class="fas fa-file-invoice"></i>Receiving</button>
            <button class="alert alert-warning"><i class="fas fa-shipping-fast"></i>Shipping</button>
            <button class="alert alert-warning"><i class="fab fa-first-order"></i>Work Orders</button>
            <button class="alert alert-warning"><i class="fas fa-wallet"></i>Billing</button>
            <button class="alert alert-warning"><i class="far fa-file"></i>Files</button>


        </div>
        <div id="ExistsID" style="display:none; width: 84% !important;" class="alert alert-danger ml-5" role="alert">
            Account ID Already Exist. Please Try different one !!

        </div>

        <form id="addBusinessPartnerForm">
            <div id="divAddBusinessPartner">
                <div class="col-xs-12 CreateUserSection pl-5">

                    <div class="row CreateUserform">
                        <div class="col-sm-4 col-xs-12 form-group">

                            <div class="form-group">
                                <label for="Description">Description <span>*</span></label>
                                @(Html.Kendo().TextBox().Name("Description").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Description", @required = "required", @validationMessage = "Description is required", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label for="AccountID">Account ID</label>
                                @*@(Html.Kendo().TextBox().Name("AccountID").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  AccountId", @required = "required", @validationMessage = "AccountId is required", @style = "width:100%" }))*@
                                <label for="AccountID" style="font-weight:bold">@Model.AccountID</label>

                            </div>
                            <div class="form-group">
                                <label for="BillingID">Billing ID</label>
                                @(Html.Kendo().TextBox().Name("BillingID").HtmlAttributes(new { @class = "form-control", @required = "required", @placeholder = "Billing Id", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="BillingID"></span>
                            </div>
                            <div class="form-group">
                                <label for="ContactName">
                                    Contact Name
                                </label>
                                @(Html.Kendo().TextBox().Name("ContactName").HtmlAttributes(new { @class = "form-control", @required = "required", @placeholder = "Enter Contact Name", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="ContactName"></span>

                            </div>


                        </div>
                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="ContactPhone">Contact Fax</label>
                                @(Html.Kendo().TextBox().Name("ContactFax").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Fax", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="ContactFax"></span>
                            </div>
                            <div class="form-group">
                                <label for="DefaultNMFC">Default NEMC</label>
                                @(Html.Kendo().TextBox().Name("DefaultNMFC").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Default", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="DefaultNMFC"></span>
                            </div>

                            <div class="form-group">
                                <label for="ContactEmail">
                                    Contact Email
                                </label>
                                @(Html.Kendo().TextBox().Name("ContactEmail").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Email", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="ContactEmail"></span>
                            </div>

                            <div class="form-group">
                                <label for="ContactPhone">Contact Phone</label>
                                @(Html.Kendo().TextBox().Name("ContactPhone").HtmlAttributes(new { @class = "form-control", @required = "required", @placeholder = "Enter  Phone", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="ContactPhone"></span>
                            </div>


                        </div>


                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="BillingRateMultiplier">Billing Rate Multiplier</label>
                                @(Html.Kendo().TextBox().Name("BillingRateMultiplier").HtmlAttributes(new { @class = "form-control", @placeholder = "Multiplier", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="BillingRateMultiplier"></span>
                            </div>

                            <div class="form-group">
                                <label for="CustomerID">CustomerID</label>
                                @(Html.Kendo().DropDownList().Name("CustomerID").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.Customer).HtmlAttributes(new { style = "width:100%", @required = "required" }).OptionLabel("Select"))
                                <span class="k-invalid-msg" data-for="CustomerID"></span>
                            </div>
                            <div class="form-group">
                                <label for="isBonded">Bounded</label>
                                @(Html.Kendo().CheckBox().Name("isBonded").Checked(true).HtmlAttributes(new { @style = "width:30px !important; height: 20px !important" }))

                                <span class="k-invalid-msg" data-for="isBonded"></span>
                            </div>
                            <div class="form-group">
                                <label for="isEnabled">Enabled </label>
                                @(Html.Kendo().CheckBox().Name("isEnabled").Checked(true).HtmlAttributes(new { @style = "width:30px !important; height: 20px !important" }))

                                <span class="k-invalid-msg" data-for="isEnabled"></span>
                            </div>

                        </div>


                    </div>
                </div>


                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Billing Address</h4>


                    <div class="row CreateUserform">
                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="Address1">Address 1</label>
                                @(Html.Kendo().TextBox().Name("Address1").HtmlAttributes(new { @class = "form-control", @required = "required", @placeholder = "Enter Address 1", @style = "width:100%", @value = Model.tblPartnerBillingAddress.Address1 }))
                                <span class="k-invalid-msg" data-for="Address1"></span>
                            </div>

                            <div class="form-group">
                                <label for="AAddress2">Address 2</label>
                                @(Html.Kendo().TextBox().Name("Address2").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Address 2", @style = "width:100%", @value = Model.tblPartnerBillingAddress.Address2 }))
                                <span class="k-invalid-msg" data-for="Address2"></span>
                            </div>


                        </div>
                        <div class="col-sm-4 col-xs-12 form-group">


                            <div class="form-group">
                                <label for="ACity">City</label>
                                @(Html.Kendo().TextBox().Name("CityName").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter City", @style = "width:100%", @value = Model.tblPartnerBillingAddress.CityName }))
                                <span class="k-invalid-msg" data-for="CityName"></span>
                            </div>
                            <div class="form-group">
                                <label for="ACountry">Country</label>
                                @(Html.Kendo().DropDownList().Name("CountryID").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.Country).HtmlAttributes(new { style = "width:100%", @required = "required", @value = Model.tblPartnerBillingAddress.CountryID }).OptionLabel("Select"))
                                <span class="k-invalid-msg" data-for="CountryID"></span>
                            </div>


                        </div>


                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="AState">State</label>
                                @(Html.Kendo().TextBox().Name("State_Province").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter State", @style = "width:100%", @value = Model.tblPartnerBillingAddress.State_Province }))
                                <span class="k-invalid-msg" data-for="State_Province"></span>
                            </div>
                            <div class="form-group">
                                <label for="APostalCode">Postal Code</label>
                                @(Html.Kendo().TextBox().Name("Zip_PostalCode").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter PostalCode", @style = "width:100%", @value = Model.tblPartnerBillingAddress.Zip_PostalCode }))
                                <span class="k-invalid-msg" data-for="Zip_PostalCode"></span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Shipping  Address</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="AusePrev">Use Billing Addresses </label>
                                <input onclick="setABillingValue()" type="checkbox" id="AUsePrev" />
                            </div>
                            <div class="form-group">
                                <label for="AShippingAddress1">Address 1</label>
                                @(Html.Kendo().TextBox().Name("ShipAddress1").HtmlAttributes(new { @class = "form-control", @required = "required", @placeholder = "Enter ShippingAddress1", @style = "width:100%", @value = Model.tblPartnerShippingAddress.ShipAddress1 }))
                                <span class="k-invalid-msg" data-for="ShipAddress1"></span>
                            </div>

                            <div class="form-group">
                                <label for="AShippingAddress2">Address 2</label>
                                @(Html.Kendo().TextBox().Name("ShipAddress2").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAddress2", @style = "width:100%", @value = Model.tblPartnerShippingAddress.ShipAddress2 }))
                                <span class="k-invalid-msg" data-for="ShipAddress2"></span>
                            </div>


                        </div>
                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="AShippingcity">City</label>
                                @(Html.Kendo().TextBox().Name("ShipCityName").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter City", @style = "width:100%", @value = Model.tblPartnerShippingAddress.ShipCityName }))
                                <span class="k-invalid-msg" data-for="ShipCityName"></span>
                            </div>

                            <div class="form-group">
                                <label for="AShippingcountry">Country</label>
                                @(Html.Kendo().DropDownList().Name("ShipCountryID").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.Country).HtmlAttributes(new { style = "width:100%", @required = "required", @value = Model.tblPartnerShippingAddress.ShipCountryID }).OptionLabel("Select"))
                                <span class="k-invalid-msg" data-for="ShipCountryID"></span>

                            </div>

                        </div>
                        <div class="col-sm-4 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="AShippingstate">State</label>
                                @(Html.Kendo().TextBox().Name("ShipState_Province").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter State", @style = "width:100%", @value = Model.tblPartnerShippingAddress.ShipState_Province }))
                                <span class="k-invalid-msg" data-for="ShipState_Province"></span>
                            </div>
                            <div class="form-group">
                                <label for="AShippingpostalCode">Postal Code</label>
                                @(Html.Kendo().TextBox().Name("ShipZip_PostalCode").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Postal Code", @style = "width:100%", @value = Model.tblPartnerShippingAddress.ShipZip_PostalCode }))
                                <span class="k-invalid-msg" data-for="ShipZip_PostalCode"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="Button">Cancel</button>
                            <button id="CreateUser" onclick="partnerEdit()" class="Button" type="button">Update</button>
                        </div>
                    </div>
                </div>


            </div>

        </form>
    </div>
</div>
<script type="text/javascript">

    (function ($) {
        $.fn.serializeFormJSON = function () {

            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);
    function toJSONString(divid) {

        var obj = {};
        //var elements = $('#step-1').querySelectorAll("input, select, textarea");
        var elements = $('#' + divid + '').children();
        $('#' + divid + '').find('input:text,input:radio:checked,input:checkbox:checked, input:password, input:file, select, textarea').each(function () {
            // $(this).val('');
            if ($(this)) {
                var name = $(this).prop('name');
                obj[name] = $(this).val();
            }
        });
        return obj;
    }
   
    var BillingAddressID = '@Model.BillingAddressID';
    var ShippingAddressID = '@Model.ShippingAddressID';
    var PID = '@Model.PartnerID';
    function partnerEdit() {
        
        businessPartner = toJSONString('divAddBusinessPartner');
        console.log(businessPartner);
        var businessPartnerForm = $("#addBusinessPartnerForm").kendoValidator({
            messages: {
                custom: "Billing Country is Required",
                custom1: "Shipping Country is Required",
            },
            rules: {
                custom: function (select) {
                    if (select.is("[name=CountryID]")) {
                        return select.val() != "-1";
                    }
                    return true;
                },
                custom1: function (select) {
                    if (select.is("[name=ShipCountryID]")) {
                        return select.val() != "-1";
                    }
                    return true;
                }
            }
        }).data("kendoValidator");
        if (!businessPartnerForm.validate()) {
            return false;
        }
        else {

            debugger;
            var CheckEdit = true;


            $.ajax({
                type: 'PUT',
                data: JSON.stringify(businessPartner),
                url: "/api/BusinessPartner?PartnerID=" + PID + "&BillingAddressID=" + BillingAddressID + "&ShippingAddressID=" + ShippingAddressID + "&CheckEdit=" + CheckEdit,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
               

                 success: function (data) {
                    editBillingAddress(businessPartner, BillingAddressID, ShippingAddressID)
                }
            });
        }



    }

    function editBillingAddress(businessPartner, BillingAddressID, ShippingAddressID) {
        businessPartner = toJSONString('divAddBusinessPartner');
        console.log(businessPartner);
        if (businessPartner.Address1 == "" || businessPartner.Address1 == undefined)
            return;
        $.ajax({
            type: 'PUT',
            data: JSON.stringify(businessPartner),
            url: "/api/BusinessPartnerBillAdress?BillingAddressID=" + BillingAddressID,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                editShippingAddress(businessPartner, ShippingAddressID)
            }
        });
    }
    function editShippingAddress(businessPartner, ShippingAddressID) {
        businessPartner = toJSONString('divAddBusinessPartner');
        console.log(businessPartner);
        if (businessPartner.Address1 == "" || businessPartner.Address1 == undefined)
            return;
        $.ajax({
            type: 'PUT',
            data: JSON.stringify(businessPartner),
            url: "/api/BusinessPartnerShipAdress?ShippingAddressID=" + ShippingAddressID,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {

                window.location.href = '/BusinessPartner/BusinessPartners/Index';
            }
        });
    }


  
</script>