@model IEnumerable<DAL.tblPartner>

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}
<section class="btnTopSection">
    <div class="col-12">

        <div class=" col-md-4">
            <p class="LayoutsH1">
                Billing Details
            </p>
        </div>
        <div class="form-group ml-5 mt-2">
            <button type="button" class="LayoutActionLink" onclick="openDetail(this)" data-index="1">
                Inbound Handling (Recieving)
            </button>
            <button type="button" class="LayoutActionLink" onclick="openDetail(this)" data-index="2">
                Storage
            </button>
            <button type="button" class="LayoutActionLink" onclick="openDetail(this)" data-index="3">
                Outbound Fulfillment Service(Shipping Orders) (up to 400 SKU)
            </button>
        </div>
        <div class="form-group ml-5 mt-2">
            <button type="button" class="LayoutActionLink" onclick="openDetail(this)" data-index="4">
                Return Management Services
            </button>
            <button type="button" class="LayoutActionLink" onclick="openDetail(this)" data-index="5">
                Other Services
            </button>
            <button type="button" class="LayoutActionLink" onclick="openDetail(this)" data-index="6">
                Labor Charges (Inspection, Rework, Replenishment & etc.)
            </button>
        </div>
    </div>

</section>
<section class="TableSection ">
    <div class="row">
        <div class=" col-md-4 pl-5">
            <p class="LayoutsH1">
                Business Partner List
            </p>
        </div>
        <div class="col-md-8 LinksSEction">
            <a class="LayoutActionLink" href="/BusinessPartner/BusinessPartners/Create">
                Add new Business Partner +
            </a>
            <a class="LayoutActionLink" href="#">
                Today
            </a>
            <a class="LayoutActionLink" href="#">
                Week
            </a>
            <a class="LayoutActionLink" href="#">
                Month
            </a>
            <a class="LayoutActionLink" href="#">
                Export to Excel
            </a>
        </div>

    </div>
    <table id="example" class="display" style="width:auto">
        <thead class="THeader">
            <tr>
                @*<th> <input type="checkbox" class="TblCHk"></th>*@
                <th>Account ID</th>
                <th>Billing ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Billing Address</th>
                <th>Shipping Address</th>
                @*<th>Partner Details</th>*@
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td><input type="checkbox" class="TblCHk">@item.AccountID</td>*@
                    <td>@item.AccountID</td>
                    <td>@item.BillingID</td>
                    <td>@item.ContactName</td>
                    <td>@item.ContactPhone</td>
                    <td>@item.tblPartnerBillingAddress.Address1</td>
                    <td>@item.tblPartnerShippingAddress.ShipAddress1</td>

                    @*<td><span class="red">click here</span></td>*@
                    <td class="ActionsEdit"><a href="/BusinessPartner/BusinessPartners/Edit/@item.PartnerID"> <i class="far fa-edit"></i></a> <i class="fas fa-trash-alt red"></i></td>                </tr>
            }



        </tbody>
    </table>
</section>
<div class="modal" id="billinDetailModal" data-easein="shake" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" data-easein="shake" style="max-width: 1157px;">
        <div class="modal-content" style="height:auto;">
            <!-- Modal Header -->
            <div class="modal-header">

                <h3 id="billDetailHeader" class="col-12 row justify-content-center pt-4"> </h3>

                <button type="button" class="close pt-4" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body pb-5 pl-5 pr-5 pt-5">
                <div id="divShippingRate">
                </div>
                <div id="extraDetail" class="pt-5" style="display:none;">
                    <label class="lblRateDetail"> A full Month storage charge will be applied for Goods received between 1st and 15th day of the Month. (In-coming storage)</label>
                    <label class="lblRateDetail"> A half Month storage charge will be applied for Goods received between 16th and last day of the Month. (In-coming storage)</label>
                    <label class="lblRateDetail"> A full Month storage charge will be applied for Goods/Balance on end of the last day of Month for the following Month. (Recurring)</label>

                </div>
            </div>


        </div>
    </div>
</div>
