

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}



<div class="row">
    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>

                <li>Dashboard<span class="slash">/</span></li>
                <li>Receving Orders<span class="slash">/</span></li>
                <li>Create Receiving Orders</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5">
            <button class="Button">General</button>
            <button class="Button">Acounts</button>
            <button class="Button">Shippers</button>
            <button class="Button">Zendesk</button>
            <button class="Button">RF</button>
            <button class="Button">Edit History</button>
        </div>

        <form id="FormReceiveOrder">


            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Create Receiving</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">

                        <div class="SingleInput">
                            <label for="status">Status</label>
                            <select id="ROStatus" class="form-control" >
                                <option> Open </option>
                                <option> Inprocess </option>
                                <option> Hold </option>
                                <option> Completed </option>
                                <option> Void </option>
                            </select>
                        </div>

                        <div class="SingleInput">
                            <label for="ROrderNumber">Order Number</label>
                 @(Html.Kendo().TextBox().Name("ROrderNumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Order Number", @style = "width:100%", @type = "text" }))

                        </div>
                        <div class="SingleInput">
                            <label for="RPONumber">PO Number</label>
                @(Html.Kendo().TextBox().Name("RPONumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter PO Number", @style = "width:100%", @type = "number" }))

                        </div>



                        <div class="SingleInput">
                            <label for="ROEquipment">Equipment</label>
                            @(Html.Kendo().TextBox().Name("ROEquipment").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Equipment", @style = "width:100%", @type = "text" }))

                        </div>
                        <div class="SingleInput">
                            <label for="ROSeal">Seal(s)</label>
                            @(Html.Kendo().TextBox().Name("ROSeal").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Seal(s)", @style = "width:100%", @type = "text" }))

                        </div>


                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">


                        <div class="SingleInput">
                            <label for="ROStatus">Qty Planned</label>
                            <select id="ROStatus" class="form-control">
                                <option> 0-0EA </option>
                                <option> 0 CS </option>
                                <option> 0 IP </option>

                            </select>
                        </div>
                        <div class="SingleInput">
                            <label for="ROQty">Qty Shipped</label>
                            <select id="ROQty" class="form-control">
                                <option> 0-0EA </option>
                                <option> 0 CS </option>
                                <option> 0 IP </option>

                            </select>
                        </div>
                        <div class="SingleInput">
                            <label>LPNs: &nbsp; 0</label>
                        </div>
                        <div class="SingleInput">
                            <label>Total Shipped Weight: &nbsp; 0.00LBS</label>
                        </div>



                    </div>

                </div>



            </div>



            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Partners</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="ROAccount">Account <span>*</span></label>
                            @(Html.Kendo().DropDownList()
                                                                    .Name("ROAccount")
                                                                    .DataTextField("Status")
                                                                    .DataValueField("OrderId")
                                                                    .HtmlAttributes(new { style = "width:100%" })
                                                                    .Filter("contains")
                                                                    .OptionLabel("Select")
                                                                    .DataSource(source =>
                                                                    {
                                                                        source.Read(read =>
                                                                        {
                                                                            read.Action("UserData", "PurchaseOrders");
                                                                        })
                                                                                   .ServerFiltering(true);
                                                                    })
                                                                    .HtmlAttributes(new { @required = "required", @validationMessage = "Account is required" })
                            )

                        </div>
                        <div class="SingleInput">
                            <label for="ROSupplier">Supplier</label>
                            @(Html.Kendo().DropDownList()
                                                            .Name("ROSupplier")
                                                             .DataTextField("Status")
                                                              .DataValueField("OrderId")
                                                             .HtmlAttributes(new { style = "width:100%" })
                                                             .Filter("contains")
                                                              .OptionLabel("Select")
                                                              .DataSource(source =>
                                                                {
                                                                    source.Read(read =>
                                                                              {
                                                                                  read.Action("UserData", "PurchaseOrders");
                                                                              })
                                                                          .ServerFiltering(true);
                                                                })

                            )
                        </div>






                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">


                        <div class="SingleInput">
                            <label for="ROCarrier">Carrier</label>
                            @(Html.Kendo().DropDownList()
                                                                                                                  .Name("ROCarrier")
                                                                                                                  .DataTextField("Status")
                                                                                                                  .DataValueField("OrderId")
                                                                                                                  .HtmlAttributes(new { style = "width:100%" })
                                                                                                                  .Filter("contains")
                                                                                                                  .OptionLabel("Select")
                                                                                                                  .DataSource(source =>
                                                                                                                  {
                                                                                                                      source.Read(read =>
                                                                                                                      {
                                                                                                                          read.Action("UserData", "PurchaseOrders");
                                                                                                                      })
                                                                                                                      .ServerFiltering(true);
                                                                                                                  })
                                                                                                                   .HeaderTemplate("<div onclick=\"ClickForModalCareer()\" style=\"cursor:pointer\" class=\"dropdown-header k-widget k-header \">" +
                                                                                       " <a  style=\"font-size:16px; text-decoration:none;\" class=\"linkColor\" > <i  style=\"margin-right:15px\" class=\"fas fa-plus\"></i> Add New</a>" +
                                                                                       "</div>")
                            )
                        </div>
                        <div class="SingleInput">
                            <label for="RORFrom">Received Form</label>
                            @(Html.Kendo().DropDownList()
                                                                                                                                              .Name("RORFrom")
                                                                                                                                              .DataTextField("Status")
                                                                                                                                              .DataValueField("OrderId")
                                                                                                                                              .HtmlAttributes(new { style = "width:100%" })
                                                                                                                                              .Filter("contains")
                                                                                                                                              .OptionLabel("Select")
                                                                                                                                              .DataSource(source =>
                                                                                                                                              {
                                                                                                                                                  source.Read(read =>
                                                                                                                                                  {
                                                                                                                                                      read.Action("UserData", "PurchaseOrders");
                                                                                                                                                  })
                                                                                                                                                  .ServerFiltering(true);
                                                                                                                                              })

                            )
                        </div>

                    </div>

                </div>



            </div>





            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Dates</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="ROEArrivalDate ">Expected Arrival Date</label>
                            @(Html.Kendo().TextBox().Name("ROEArrivalDate").HtmlAttributes(new { @class = "form-control datepicker", @placeholder = "Enter Expected Arrival Date", @style = "width:100%", @type = "date" }))

                        </div>

                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="ROAarrivalDate">Actual Arrival Date</label>
                            @(Html.Kendo().TextBox().Name("ROAarrivalDate").HtmlAttributes(new { @class = "form-control datepicker", @placeholder = "Enter Actual Arrival Date", @style = "width:100%", @type = "date" }))


                        </div>

                    </div>


                </div>



            </div>

            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Other Instuctions</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-12 col-xs-12 form-group">
                        <div class="SingleInput">
                            @Html.TextArea("ROInstructions", "", new { @class = "form-control ", @placeholder = "Add Instuctions", style = "width: 100%;" })
                        </div>

                    </div>


                </div>



            </div>



            <div class="col-xs-12 CreateUserSection pl-5">


                <div class="row">
                    <div class="col-xs-12">
                        <button class="Button">Cancel</button>
                        <button id="CreateUser" onclick="CreateROrder()" class="Button">Create</button>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>

<div class="modal fade" id="CreatCareerModal" tabindex="-1" role="dialog" aria-labelledby="CreatUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreatUserModalLabel"> Create Carrier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 CreateUserSection pl-5">
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="CheckBoxSection">
                                <div class="SingleInput">
                                    <label for="IsEnabled">Enabled </label>
                                    <input type="checkbox" id="IsEnabled" />
                                </div>

                                @*<div class="SingleInput">
                                        <label>User Role </label>
                                        @Html.DropDownList("RoleId", new SelectList(ViewBag.UserRole, "UserRoleID", "UserRoleName"), "-- Select --", new { @class = " form-control" })

                                    </div>*@
                            </div>
                            <div class="SingleInput">
                                <label for="CDescription">Description</label>
                                @(Html.Kendo().TextBox().Name("CDescription").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Description", @required = "required", @validationMessage = "Description is required", @style = "width:100%" }))

                            </div>
                            <div class="SingleInput">
                                <label for="CAccountId">Account ID</label>
                                @(Html.Kendo().TextBox().Name("CAccountId").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  AccountId", @required = "required", @validationMessage = "AccountId is required", @style = "width:100%" }))

                            </div>
                            <div class="SingleInput">
                                <label for="CBillingId">Billing ID</label>
                                @(Html.Kendo().TextBox().Name("CBillingId").HtmlAttributes(new { @class = "form-control", @placeholder = "Billing Id", @style = "width:100%" }))

                            </div>
                            <div class="SingleInput">
                                <label for="CName">
                                    Contact Name
                                </label>
                                @(Html.Kendo().TextBox().Name("CName").HtmlAttributes(new { @class = "form-control", @placeholder = "Billing Id", @style = "width:100%" }))


                            </div>
                            <div class="SingleInput">
                                <label for="CEmail">
                                    Contact Email
                                </label>
                                @(Html.Kendo().TextBox().Name("CEmail").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Email", @required = "required", @data_email_msg = "Email format is not valid", @validationMessage = "Email is required", @style = "width:100%", @type = "email" }))

                            </div>



                            <div class="SingleInput">
                                <label for="CPhone">Contact Phone</label>
                                @(Html.Kendo().TextBox().Name("CPhone").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Phone", @style = "width:100%", @type = "tel" }))

                            </div>









                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">



                            <div class="SingleInput">
                                <label for="scac">SCAC</label>
                                @(Html.Kendo().TextBox().Name("Cscac").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  SCAC", @style = "width:100%", @type = "text" }))

                            </div>
                            <div class="SingleInput">
                                <label for="CMCno">MC #</label>
                                <input type="text" class="form-control" placeholder="MC #" />
                                @(Html.Kendo().TextBox().Name("CMCno.").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  MC #", @style = "width:100%", @type = "number" }))

                            </div>
                            <div class="SingleInput">
                                <label for="status">Type</label>
                                <select class="form-control">
                                    <option>
                                        UPS
                                    </option>
                                    <option>
                                        FEDEX
                                    </option>
                                    <option>
                                        USPS
                                    </option>
                                    <option>
                                        LTL
                                    </option>
                                </select>
                            </div>

                        </div>

                    </div>



                </div>



                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Billing Adress</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="SingleInput">
                                <label for="CAdress1">Adress 1</label>
                                @(Html.Kendo().TextBox().Name("CAdress1").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress1", @style = "width:100%" }))

                            </div>

                            <div class="SingleInput">
                                <label for="CAdress2">Adress 2</label>
                                @(Html.Kendo().TextBox().Name("CAdress2").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress2", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="CAdress3">Adress 3</label>
                                @(Html.Kendo().TextBox().Name("CAdress3").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress3", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="CAdress4">Adress 4</label>
                                @(Html.Kendo().TextBox().Name("CAdress4").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress4", @style = "width:100%" }))
                            </div>




                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">



                            <div class="SingleInput">
                                <label for="CCity">City</label>
                                @(Html.Kendo().TextBox().Name("CCity").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter City", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="CState">State</label>
                                <input type="text" class="form-control" placeholder="Enter Your State" id="State" />
                                @(Html.Kendo().TextBox().Name("CState").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter State", @style = "width:100%" }))

                            </div>
                            <div class="SingleInput">
                                <label for="CPostalCode">Postal Code</label>
                                @(Html.Kendo().TextBox().Name("CPostalCode").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter PostalCode", @style = "width:100%" }))
                            </div>
                            <div class="SingleInput">
                                <label for="CCountry">Country</label>
                                @(Html.Kendo().TextBox().Name("CCountry").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Country", @style = "width:100%" }))
                            </div>

                        </div>

                    </div>



                </div>



                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Shipping  Adress</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="SingleInput">
                                <label for="CusePrev">Use Billing Adresses </label>
                                <input onclick="setCBillingValue()" type="checkbox" id="CUsePrev" />
                            </div>
                            <div class="SingleInput">
                                <label for="CShippingAdress1">Adress 1</label>
                                @(Html.Kendo().TextBox().Name("CShippingAdress1").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress1", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="CShippingAdress2">Adress 2</label>
                                @(Html.Kendo().TextBox().Name("CShippingAdress2").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress2", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="CShippingAdress3">Adress 3</label>
                                @(Html.Kendo().TextBox().Name("CShippingAdress3").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress3", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="CShippingAdress4">Adress 4</label>
                                @(Html.Kendo().TextBox().Name("CShippingAdress4").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress4", @style = "width:100%" }))
                            </div>




                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">



                            <div class="SingleInput">
                                <label for="CShippingcity">City</label>
                                @(Html.Kendo().TextBox().Name("CShippingCity").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter City", @style = "width:100%" }))
                            </div>

                            <div class="SingleInput">
                                <label for="Shippingstate">CState</label>
                                @(Html.Kendo().TextBox().Name("CShippingState").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter State", @style = "width:100%" }))
                            </div>
                            <div class="SingleInput">
                                <label for="CShippingpostalCode">Postal Code</label>
                                @(Html.Kendo().TextBox().Name("CShippingPostalCode").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Postal Code", @style = "width:100%" }))
                            </div>
                            <div class="SingleInput">
                                <label for="CShippingcountry">Country</label>
                                @(Html.Kendo().TextBox().Name("CShippingCountry").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Country", @style = "width:100%" }))
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="Button">Cancel</button>
                            <button id="CreateUser" onclick="CreateUsers()" class="Button">Create</button>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button class="Button" data-dismiss="modal">Close</button>
                <button class="Button">Save changes</button>
                <button id="ClikeMeToOpenCareer" style="display:none" class="dropdown-item" data-toggle="modal" data-target="#CreatCareerModal">Change Password</button>



            </div>
        </div>
    </div>
</div>

