@model IEnumerable<DAL.tblWarehouseMaster>

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}


<section class="btnTopSection">
    <div class="row">
        <div class="col-md-5 TiteSEction pl-5">
            <a class="LayoutActionLink" href="#">
                <i class="fas fa-sync-alt"></i>
            </a>
            <a class="LayoutActionLink" href="#">
                more
            </a>
        </div>
        <div class="col-md-7 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Export to Excel
            </a>
            <a class="LayoutActionLink" href="/WareHouse/WareHouses/Create">
                Add new Warehouse +
            </a>

        </div>

    </div>

</section>
<section class="TableSection ">
    <div class="row">
        <div class="col-md-2 TiteSEction pl-5">
            <p class="LayoutsH1">
                User List
            </p>
        </div>
        <div class="col-md-10 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Today
            </a>
            <a class="LayoutActionLink" href="#">
                Week
            </a>
            <a class="LayoutActionLink" href="#">
                Month
            </a>
        </div>

    </div>
    <table id="example" class="display nowrap" style="width:100%">
        <thead class="THeader">
            <tr>
                <th> <input type="checkbox" class="TblCHk">Warehouse Code</th>
                <th>Email Adress</th>
                <th>City</th>
                <th>Is Active</th>

                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><input type="checkbox" class="TblCHk">@item.WareHouseCode</td>
                @*@if (item.UserROle == "User")
        {
            <td>@item.User <p class="roles yellow">@item.UserROle</p></td>

        }*@

                @*else
        {
            <td>Steve Horton <p class="roles DarkGrey">@item.UserROle</p></td>

        }*@

                <td>@item.Email</td>
                <td>@item.CityName</td>
                @if (item.isActive == true)
                {
                    <td><i class="fas fa-dot-circle activeDOt parrot"></i>Active</td>

                }
                else
                {

                    <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive</td>

                }


                @*<td>@item.coun</td>*@
                <td>@item.tblCountry.CountryName</td>

                <td class="ActionsEdit"><a href="/WareHouse/WareHouses/Create/@item.WarehouseID"> <i class="far fa-edit"></i></a> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            }



        </tbody>
    </table>
</section>






