@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}



<div class="row">

    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>

                <li>Dashboard<span class="slash">/</span></li>
                <li>Users<span class="slash">/</span></li>
                <li>User Management<span class="slash">/</span></li>
                <li>Create User</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5">
            <button class="Button">General</button>
            <button class="Button">Acounts</button>
            <button class="Button">Shippers</button>
            <button class="Button">Zendesk</button>
            <button class="Button">RF</button>
            <button class="Button">Edit History</button>
        </div>
        <form id="FormUser">
            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Create User</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="AccountId">Account ID<span>*</span></label>
                            @(Html.Kendo().TextBox().Name("AccountId").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  AccountId", @required = "required", @validationMessage = "AccountId is required", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="Email">Email</label>
                            @(Html.Kendo().TextBox().Name("Email").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Email", @required = "required", @data_email_msg = "Email format is not valid", @validationMessage = "Email is required", @style = "width:100%", @type = "email" }))

                        </div>

                        <div class="SingleInput">
                            <label for="Password">Password</label>
                            @(Html.Kendo().TextBox().Name("password").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Password", @required = "required", @validationMessage = "Password is required", @style = "width:100%", @type = "password" }))

                        </div>

                        <div class="SingleInput">
                            <label for="ConfirmPassword">Confirm Password</label>
                            @(Html.Kendo().TextBox().Name("ConfirmPassword").HtmlAttributes(new { @class = "form-control", @placeholder = "Password Should match", @required = "required", @validationMessage = "Password is required", @style = "width:100%", @type = "password" }))

                        </div>

                        <div class="SingleInput">
                            <label for="Phone">Phone</label>
                            @(Html.Kendo().TextBox().Name("Phone").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Phone", @style = "width:100%", @type = "tel" }))

                        </div>

                        <div class="SingleInput">
                            <label for="Mobile">Mobile</label>
                            @(Html.Kendo().TextBox().Name("Phone").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Phone", @style = "width:100%", @type = "tel" }))


                        </div>
                        <div class="SingleInput">
                            <label for="Description">Description<span>*</span></label>
                            @(Html.Kendo().TextBox().Name("Description").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Description", @required = "required", @validationMessage = "Description is required", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="Multilpyer">Billing Rate Multiplier</label>
                            @(Html.Kendo().TextBox().Name("Multiplier").HtmlAttributes(new { @class = "form-control", @placeholder = "Multiplier", @style = "width:100%", @type = "number" }))

                        </div>



                  

                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">


                        <div class="SingleInput">
                            <label for="Bounded">Bounded</label>
                            @(Html.Kendo().TextBox().Name("Bounded").HtmlAttributes(new { @class = "form-control", @placeholder = "Bounded", @style = "width:100%", @type = "number" }))
                        </div>
                        <div class="SingleInput">
                            <label>User Group </label>
                            @Html.DropDownList("GroupId", new SelectList(ViewBag.Group, "SecurityGroupID", "GroupName"), "-- Select  --", new { @class = " form-control" })

                        </div>

                        <div class="CheckBoxSection">
                            <div class="SingleInput">
                                <label for="IsEnabled">Enabled </label>
                                <input type="checkbox" id="IsEnabled" />
                            </div>

                            @*<div class="SingleInput">
                                    <label>User Role </label>
                                    @Html.DropDownList("RoleId", new SelectList(ViewBag.UserRole, "UserRoleID", "UserRoleName"), "-- Select --", new { @class = " form-control" })

                                </div>*@
                        </div>
                        <div class="SingleInput">
                            <label for="BillingId">Billing Id</label>
                            @(Html.Kendo().TextBox().Name("BillingId").HtmlAttributes(new { @class = "form-control", @placeholder = "Billing Id", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="NEMC">Default NEMC</label>
                            @(Html.Kendo().TextBox().Name("NEMC").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Default", @style = "width:100%" }))

                        </div>
                        <div class="CheckBoxSection">
                            <h4>Wharehouse / Terminal Access</h4>
                            <div class="SingleInput">
                                <label>WearHouse </label>
                                @Html.DropDownList("WeareHouseId", new SelectList(ViewBag.Wearhouse, "WarehouseID", "WareHouseCode"), "-- Select --", new { @class = " form-control" })
                            </div>
                        </div>


                    </div>

                </div>



            </div>



            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Billing Adress</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="Adress1">Adress 1</label>
                            @(Html.Kendo().TextBox().Name("Adress1").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress1", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="Adress2">Adress 2</label>
                            @(Html.Kendo().TextBox().Name("Adress2").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress2", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="Adress3">Adress 3</label>
                            @(Html.Kendo().TextBox().Name("Adress3").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress3", @style = "width:100%" }))
                        </div>

                        <div class="SingleInput">
                            <label for="Adress4">Adress 4</label>
                            @(Html.Kendo().TextBox().Name("Adress4").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Adress4", @style = "width:100%" }))

                        </div>




                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">



                        <div class="SingleInput">
                            <label for="City">City</label>
                            @(Html.Kendo().TextBox().Name("City").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter City", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="State">State</label>
                            @(Html.Kendo().TextBox().Name("State").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter State", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="PostalCode">Postal Code</label>
                            @(Html.Kendo().TextBox().Name("PostalCode").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter PostalCode", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="Country">Country</label>
                            @(Html.Kendo().TextBox().Name("Country").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Country", @style = "width:100%" }))

                        </div>

                    </div>

                </div>



            </div>



            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Shipping  Adress</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="UsePrev">Use Billing Adresses </label>
                            <input onclick="setBillingValue()" type="checkbox" id="UsePrev" />

                        </div>
                        <div class="SingleInput">
                            <label for="ShippingAdress1">Adress 1</label>
                            @(Html.Kendo().TextBox().Name("ShippingAdress1").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress1", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="ShippingAdress2">Adress 2</label>
                            @(Html.Kendo().TextBox().Name("ShippingAdress2").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress2", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="ShippingAdress3">Adress 3</label>
                            @(Html.Kendo().TextBox().Name("ShippingAdress3").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress3", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="ShippingAdress4">Adress 4</label>
                            @(Html.Kendo().TextBox().Name("ShippingAdress4").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter ShippingAdress4", @style = "width:100%" }))

                        </div>




                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">



                        <div class="SingleInput">
                            <label for="ShippingCity">City</label>
                            @(Html.Kendo().TextBox().Name("ShippingCity").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter City", @style = "width:100%" }))

                        </div>

                        <div class="SingleInput">
                            <label for="ShippingState">State</label>
                            @(Html.Kendo().TextBox().Name("ShippingState").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter State", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="ShippingPostalCode">Postal Code</label>
                            @(Html.Kendo().TextBox().Name("ShippingPostalCode").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Postal Code", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="ShippingCountry">Country</label>
                            @(Html.Kendo().TextBox().Name("ShippingCountry").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Country", @style = "width:100%" }))

                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="Button">Cancel</button>
                        <button id="CreateUser" onclick="CreateUsers()" class="Button">Create</button>
                    </div>
                </div>

            </div>
        </form>

    </div>


</div>
