@model DAL.tblUserProfile

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}



<div class="row">
    <input type="hidden" id="userIdE" value="@Model.UserID" />
    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>

                <li>Dashboard<span class="slash">/</span></li>
                <li>Users<span class="slash">/</span></li>
                <li>User Management<span class="slash">/</span></li>
                <li>Create User</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5">
            <button class="Button">General</button>
            <button class="Button">Acounts</button>
            <button class="Button">Shippers</button>
            <button class="Button">Zendesk</button>
            <button class="Button">RF</button>
            <button class="Button">Edit History</button>
        </div>
        <form id="FormUser">
            <div class="col-xs-12 CreateUserSection pl-5">
                <h4 class="text-left">Create User</h4>
                <div class="row CreateUserform">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="SingleInput">
                            <label for="UserName">User Name</label>
                            @(Html.Kendo().TextBox().Name("UserName").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  User Name", @style = "width:100%" }))

                        </div>
                        <div class="SingleInput">
                            <label for="CustomerID">Customer</label>
                            @(Html.Kendo().DropDownList().Name("CustomerID").DataTextField("CompanyName").DataValueField("CustomerID").BindTo(ViewBag.Customer).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select"))
                            <span class="k-invalid-msg" data-for="CustomerID"></span>


                        </div>
                        <div class="SingleInput">
                            <label for="Email">Email</label>
                            @(Html.Kendo().TextBox().Name("Email").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Email", @required = "required", @data_email_msg = "Email format is not valid", @validationMessage = "Email is required", @style = "width:100%", @type = "email" }))

                        </div>

                        <div class="SingleInput">
                            <label for="EncryptedPassword">Password</label>
                            @(Html.Kendo().TextBox().Name("EncryptedPassword").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Password", @required = "required", @validationMessage = "Password is required", @style = "width:100%", @type = "password" }))
                            <label id="EnPL" style="color:red;  display:none; padding-left:5px;"><span class="k-icon k-i-warning" style="color:red"> </span> Password Should be atlest 8 digit with  capital letter , small letter and number</label>
                        </div>

                        <div class="SingleInput">
                            <label for="ConfirmPassword">Confirm Password</label>
                            @(Html.Kendo().TextBox().Name("ConfirmPassword").HtmlAttributes(new { @class = "form-control", @placeholder = "Password Should match", @required = "required", @validationMessage = "Password is required", @style = "width:100%", @type = "password", @value = Model.EncryptedPassword }))
                            <label id="CEnPL" style="color:red;  display:none; padding-left:5px;"><span class="k-icon k-i-warning" style="color:red"> </span> Password Should Match</label>

                        </div>

                        <div class="SingleInput">
                            <label for="PhoneNumber">Phone</label>
                            @(Html.Kendo().TextBox().Name("PhoneNumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Phone Number", @style = "width:100%", @type = "tel" }))

                        </div>

                        <div class="SingleInput">
                            <label for="Mobile">Mobile</label>
                            @(Html.Kendo().TextBox().Name("Mobile").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter  Mobile Number", @style = "width:100%", @type = "tel" }))


                        </div>







                    </div>
                    <div class="col-sm-6 col-xs-12 form-group">



                        <div class="SingleInput">
                            <label>User Group </label>
                            @(Html.Kendo().DropDownList().Name("SecurityGroupID").DataTextField("GroupName").DataValueField("SecurityGroupID").BindTo(ViewBag.Group).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select"))
                            <span class="k-invalid-msg" data-for="SecurityGroupID"></span>


                        </div>


                        <div class="CheckBoxSection">
                            <div class="SingleInput">
                                <label for="isActive">Enabled </label>
                                <input type="checkbox" checked="@Model.isActive" id="isActive" />
                            </div>

                            @*<div class="SingleInput">
                <label>User Role </label>
                @Html.DropDownList("RoleId", new SelectList(ViewBag.UserRole, "UserRoleID", "UserRoleName"), "-- Select --", new { @class = " form-control" })

            </div>*@
                        </div>


                        <div class="CheckBoxSection">
                            <h4>Wharehouse / Terminal Access</h4>
                            <div class="SingleInput">
                                <label for="WarehouseID">WearHouse </label>
                                @(Html.Kendo().DropDownList().Name("WarehouseID").DataTextField("WareHouseCode").DataValueField("WarehouseID").BindTo(ViewBag.Wearhouse).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select"))

                            </div>
                        </div>


                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <button class="Button">Cancel</button>
                        <button id="CreateUser" onclick="SaveUsers()" class="Button">Create</button>
                    </div>
                </div>
            </div>



           




        </form>

    </div>


</div>


<script>
    $(document).ready(function () {
        var UserID = $("#userIdE").val();

        if (UserID != "0") {
            $("#CreateUser").text("Update");
        }
        else {
            $("#CreateUser").text("Create");

        }
        });
    
    function SaveUsers() {
        debugger;
        var CustomerID = $("#CustomerID ").val();
        var Email = $("#Email").val();
        var EncryptedPassword = $("#EncryptedPassword ").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        var PhoneNumber = $("#PhoneNumber").val();
        var Mobile = $("#Mobile").val();
        var isActive = document.getElementById("isActive").checked;

        var SecurityGroupID = $("#SecurityGroupID").val();
        var UserName = $("#UserName").val();
        var WarehouseID = $("#WarehouseID").val();
        var passwordCheck = false;
        var confirmPasswordCheck = false;
        var UserID = $("#userIdE").val();
       
        var ROFormValidate = $("#FormUser").kendoValidator().data("kendoValidator");
        passwordValidaion(EncryptedPassword);
        ConfirmPasswordValidation(EncryptedPassword);

        if (!ROFormValidate.validate() || passwordCheck != true || confirmPasswordCheck != true) {
            if (passwordCheck != true && EncryptedPassword!="") {
                $("#EnPL ").css({ "display": "block" });
            }
            else {
                $("#EnPL ").css({ "display": "none" });

            }
            if (confirmPasswordCheck != true && ConfirmPassword !="" ) {
                $("#CEnPL ").css({ "display": "block" });

            }
            else {
                $("#CEnPL ").css({ "display": "none" });

            }
            return false;
        }


            var UserObj = {
                CustomerID: CustomerID ,
                UserName: UserName ,
                EncryptedPassword: EncryptedPassword ,
                SecurityGroupID: SecurityGroupID ,
                Email: Email ,
                PhoneNumber: PhoneNumber ,
                Mobile: Mobile,
                WarehouseID: WarehouseID,
                isActive: isActive,
                UserID: UserID





            };
            $.ajax({
                url: "/User/CreatePost",
                type: "POST",
                dataType: "JSON",
                data: UserObj,
                beforeSend: function () {
                  
                    $("#CreateUser").text("Loading - Please Wait..");
                    $("#CreateUser").css("disabled", true);
                },
                success: function (result) {
                    if (result == true) {
                        window.location.href = "/User/Index";
                       
                    }
                  
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {

                    

                }
            })

        

        function passwordValidaion(Password) {
            var lowerCaseLetters = /[a-z]/g;
            var upperCaseLetters = /[A-Z]/g;
            var numbers = /[0-9]/g;

            if (Password.match(upperCaseLetters) && Password.match(lowerCaseLetters) && Password.match(numbers) && Password.length >= 8) {
                passwordCheck = true;
            }



        }

        function ConfirmPasswordValidation(Password) {
            if (Password == ConfirmPassword) {
                confirmPasswordCheck = true

            }
        }
    }


</script>

