@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}
<section class="btnTopSection">
    <div class="row">
        <div class=" form-row col-md-12 TiteSEction pl-5">
            <div class="col-md-3">
                <div class="col-md-11" style="height:80px; background-color:#2ED8B6; display:block; margin-left:auto"></div>
                <div id="graph1" style=" height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-3">
                <div class="col-md-11" style="height:80px; background-color:#FFB64D; display:block; margin-left:auto"></div>

                <div id="graph2" style=" height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-3">
                <div class="col-md-11" style="height:80px; background-color:#4099FF; display:block; margin-left:auto"></div>

                <div id="graph3" style=" height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-3">
                <div class="col-md-11" style="height:80px; background-color:#FF5370; display:block; margin-left:auto"></div>

                <div id="graph  `4" style=" height: 400px; margin: 0 auto"></div>
            </div>

        </div>

    </div>

</section>
<section class="btnTopSection">
    <div class="row">
        <div class=" form-row col-md-12 TiteSEction pl-5">
            <div class="col-md-3">

                <div id="graph5" style=" height: 400px; margin: 0 auto"></div>
            </div>
            @*<div class="offset-1"></div>*@
            <div class="col-md-3">
                <div id="graph6" style=" height: 400px; margin: 0 auto"></div>
            </div>
            @*<div class="offset-1"></div>*@
            <div class="col-md-3">
                <div id="graph7" style=" height: 400px; margin: 0 auto"></div>
            </div>
            @*<div class="offset-1"></div>*@
            <div class="col-md-3">
                <div id="graph8" style=" height: 400px; margin: 0 auto"></div>
            </div>

        </div>

    </div>

</section>
<section class="TableSection ">
    <div class="row">
        <div class="col-md-2 TiteSEction pl-5">
            <p class="LayoutsH1">
                Order Details
            </p>
        </div>
        <div class="col-md-10 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Today
            </a>
            <a class="LayoutActionLink" href="#">
                Week
            </a>
            <a class="LayoutActionLink" href="#">
                Month
            </a>
        </div>

    </div>
    <table id="example" class="display nowrap" style="width:100%">
        <thead class="THeader">

            <tr>
                <th> <input type="checkbox" class="TblCHk">OrderId</th>
                <th>Shipping Adress</th>
                <th>Shipping Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>User Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.orders)
            {
                <tr>

                    <td><input type="checkbox" class="TblCHk">@item.OrderId</td>
                    <td>@item.ShippingAdress</td>
                    <td>@item.ShippingDate</td>
                    @if (item.Status == "Pending")
                    {
                        <td><span class="red"> @item.Status</span></td>

                    }
                    else if (item.Status == "Unpaid")
                    {

                        <td><span class="purple"> @item.Status</span></td>

                    }
                    else
                    {
                        <td><span class="green"> @item.Status</span></td>

                    }
                    @if (item.type == "Online")
                    {
                        <td><span class="skyBlue"> @item.type</span></td>

                    }

                    else
                    {
                        <td><span class="orange"> @item.type</span></td>

                    }
                    <td><span class="red">click here</span></td>
                    <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
                </tr>

            }

        </tbody>
    </table>

</section>






@*<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>*@


<script src="~/Scripts/HiCharts/HighCharts.js"></script>
<script src="~/Scripts/HiCharts/Series-Label.js"></script>
<script src="~/Scripts/HiCharts/Exporting.js"></script>
<script src="~/Scripts/HiCharts/ExportDAta.js"></script>
<script src="~/Scripts/HiCharts/HighChartsMore.js"></script>
<script src="~/Scripts/HiCharts/SolidGauge.js"></script>
<script src="~/Scripts/HiCharts/Accessibility.js"></script>