

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}



<div class="row">

    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>

                <li>Dashboard<span class="slash">/</span></li>
                <li>Shipping Orders<span class="slash">/</span></li>
                <li>Create Shipping Order</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5">
            <button class="Button">General</button>
            <button class="Button">Acounts</button>
            <button class="Button">Shippers</button>
            <button class="Button">Zendesk</button>
            <button class="Button">RF</button>
            <button class="Button">Edit History</button>
        </div>
        <form id="FormShippingOrder">
            <div id="divAddShippingOrder">

                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Create Shipping Order</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="SOrderNumber">Transaction Number</label>
                                @(Html.Kendo().TextBox().Name("TransactionNumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Transaction Number", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="SourceID"></span>
                            </div>
                            <div class="form-group">
                                <label for="SourceID">Source/Channel</label>
                                @(Html.Kendo().DropDownList().Name("SourceID").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ShipSourceChannel).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select Source/Channel"))
                                <span class="k-invalid-msg" data-for="SourceID"></span>
                            </div>
                            <div class="form-group">
                                <label for="ShippingStatus">Status</label>
                                <select id="ShippingStatus" name="ShippingStatus" class="form-control">
                                    <option value="Open"> Open </option>
                                    <option value="Inprocess"> Inprocess </option>
                                    <option value="Hold"> Hold </option>
                                    <option value="Completed"> Completed </option>
                                    <option value="Void"> Void </option>
                                </select>
                                <span class="k-invalid-msg" data-for="SourceID"></span>
                            </div>


                            <div class="form-group">
                                <label for="ShippingOrderNumber">Order Number</label>
                                @(Html.Kendo().TextBox().Name("ShippingOrderNumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Order Number", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="ShippingOrderNumber"></span>
                            </div>
                            <div class="form-group">
                                <label for="SWC">SWC</label>
                                @(Html.Kendo().TextBox().Name("SWC").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter SWC", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="SWC"></span>
                            </div>

                            <div class="form-group">
                                <label for="SOSalesONumber">Sales Order Number</label>
                                @(Html.Kendo().TextBox().Name("SalesOrderNumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Sales Order Number", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="SalesOrderNumber"></span>
                            </div>
                         
                            <div class="form-group">
                                <label for="PONumber">PO Number</label>
                                @(Html.Kendo().TextBox().Name("PONumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter PO Number", @style = "width:100%", @type = "number" }))
                                <span class="k-invalid-msg" data-for="PONumber"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">
                          
                            <div class="form-group">
                                <label for="BLNumber">BL Number</label>
                                @(Html.Kendo().TextBox().Name("BLNumber").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter BL Number", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="BLNumber"></span>
                            </div>
                            <div class="form-group">
                                <label for="BillFreightTermNumber">Bill Freight Terms No.</label>
                                <select id="SOQtyP" name="BillFreightTermNumber" class="form-control">
                                    <option value="Prepaid"> Prepaid </option>
                                    <option value="Collect"> Collect </option>
                                    <option value="3rdParty"> 3rd Party </option>
                                    <option value="COD"> Cash on Delivery </option>
                                    <option value="CustomerPickup"> Customer Pickup </option>
                                </select>
                                <span class="k-invalid-msg" data-for="SWC"></span>
                            </div>
                            <div class="form-group">
                                <label for="SOQtyP">Quantity Planned</label>
                                <select id="SOQtyP" name="QuantityPlanned" class="form-control">
                                    <option value="0-0EA"> 0-0EA </option>
                                    <option value="0 CS"> 0 CS </option>
                                    <option value="0 IP"> 0 IP </option>

                                </select>
                                <span class="k-invalid-msg" data-for="QuantityPlanned"></span>
                            </div>
                            <div class="form-group">
                                <label for="SOQtyS">Quantity Shipped</label>
                                <select id="SOQtyS" name="QuantityShipped" class="form-control">
                                    <option value="0-0EA"> 0-0EA </option>
                                    <option value="0 CS"> 0 CS </option>
                                    <option value="0 IP"> 0 IP </option>

                                </select>
                                <span class="k-invalid-msg" data-for="QuantityShipped"></span>
                            </div>
                            @*<div class="form-group">
                                <label>LPNs: &nbsp; 0</label>
                            </div>*@
                            <div class="form-group">
                                <label for="BLNumber">LPNs</label>
                                @(Html.Kendo().TextBox().Name("LPNs").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter LPNs", @style = "width:100%" }))
                                <span class="k-invalid-msg" data-for="BLNumber"></span>
                            </div>
                            <div class="form-group">
                                <label for="TotalShippedWeight">Total Shipped Weight</label>
                                @(Html.Kendo().TextBox().Name("TotalShippedWeight").HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Weight" }))
                                <select id="SOQtyS" name="TotalShippedWeightUnit" class="form-control ml-2" style="max-width: 23%!important">
                                    <option value="Kilograms"> Kilograms </option>
                                    <option value="grams"> grams</option>
                                    <option value="Meter"> Meter </option>
                                    <option value="cm"> Centimeter </option>
                                    <option value="inches"> inches</option>
                                    <option value="l"> Litre </option>
                                    <option value="ml"> millilitre </option>
                                    <option value="mm"> millimeter </option>
                                </select>
                                <span class="k-invalid-msg" data-for="TotalShippedWeight"></span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Partners</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="SOAccount">Account <span>*</span></label>
                                @(Html.Kendo().DropDownList().Name("AccountID").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.Account).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select Account ID"))

                                <span class="k-invalid-msg" data-for="SWC"></span>
                            </div>

                            <div class="form-group">
                                <label for="SOShipper">Shipper</label>
                                @(Html.Kendo().DropDownList().Name("OrderShipper").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.Account).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select Shipper"))

                                <input type="text" id="PartID" name="PartnerID" style="display:none"/>
                                <span class="k-invalid-msg" data-for="PartnerID"></span>
                            </div>
                            <div class="form-group">
                                <label for="SOCarrier">Carrier</label>
                                @(Html.Kendo().DropDownList().Name("ShippingCarrierID").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ShippingCarrier).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select Shipping Carrier"))
                                <span class="k-invalid-msg" data-for="ShippingCarrierID"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="SOBillFT">Bill Freight To</label>
                                @(Html.Kendo().DropDownList().Name("OrderBillFreightTo").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.Account).HtmlAttributes(new { style = "width:100%" }).OptionLabel("Select Partner"))


                                <span class="k-invalid-msg" data-for="SWC"></span>
                            </div>
                            <div class="form-row pl-1">
                                <label for="AddShipTo">Ship To</label>
                                <label id="shipAddressDetails" class="col-md-2 d-none">

                                </label>
                                <input type="text" id="shipAddID" name="ShippingAddressID" style="display:none" />


                            </div>
                            <div class="form-row pl-1">
                                <label for="AddBill">Mark For</label>
                                <label id="billAddressDetails" class="col-md-2 d-none">

                                </label>
                                <input type="text" id="billAddID" name="BillingAddressID"style="display:none" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Dates</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="SOEArrivalDate">Start Date</label>
                                @*@(Html.Kendo().TextBox().Name("StartDate").HtmlAttributes(new { @class = "form-control datepicker", @placeholder = "Enter Expected Arrival Date", @style = "width:100%" }))*@
                                @(Html.Kendo().DatePicker().Name("StartDate").Value(System.DateTime.Today).Format("MM/dd/yy")
                                   .HtmlAttributes(new { @class = "form-control classShipOrderDate",@style="max-width:100% !important" })
                                )
                                <span class="k-invalid-msg" data-for="StartDate"></span>
                            </div>
                            <div class="form-group">
                                <label for="SOAArrivalDate">Actual Ship Date</label>
                               @(Html.Kendo().DatePicker().Name("ActualShipDate").Value(System.DateTime.Today).Format("MM/dd/yy")
                                   .HtmlAttributes(new { @class = "form-control classShipOrderDate", @style = "max-width:100% !important" })
                                )
                                <span class="k-invalid-msg" data-for="ActualShipDate"></span>
                            </div>

                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="form-group">
                                <label for="SOCancelDate">Cancel  Date</label>
                               @(Html.Kendo().DatePicker().Name("CancelDate").Value(System.DateTime.Today).Format("MM/dd/yy")
                                   .HtmlAttributes(new { @class = "form-control classShipOrderDate", @style = "max-width:100% !important" })
                            )
                                <span class="k-invalid-msg" data-for="CancelDate"></span>
                            </div>
                            <div class="form-group">
                                <label for="SOCancelDate">Deliver Date</label>
                               @(Html.Kendo().DatePicker().Name("DeliverDate").Value(System.DateTime.Today).Format("MM/dd/yy")
                                   .HtmlAttributes(new { @class = "form-control classShipOrderDate", @style = "max-width:100% !important" })
                                )
                                <span class="k-invalid-msg" data-for="DeliverDate"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Other Instuctions</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-12 col-xs-12 form-group">
                            <div class="form-group">
                                @Html.TextArea("OtherInstruction", "", new { @class = "form-control ", @placeholder = "Add Instuctions", style = "width: 100%;" })
                                <span class="k-invalid-msg" data-for="OtherInstruction"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 CreateUserSection pl-5">

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="Button">Cancel</button>
                            <button id="CreateSO" onclick="saveShippingOrder()" class="Button" type="button">Create</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>

    </div>


</div>
<script type="text/javascript">

    var ShippingOrderID = "";
    var shippingOrder = "";

    (function ($) {
        $.fn.serializeFormJSON = function () {

            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);
    function toJSONString(divid) {

        var obj = {};
        //var elements = $('#step-1').querySelectorAll("input, select, textarea");
        var elements = $('#' + divid + '').children();
        $('#' + divid + '').find('input:text,input:radio:checked,input:checkbox:checked, input:password, input:file, select, textarea').each(function () {
            // $(this).val('');
            if ($(this)) {
                var name = $(this).prop('name');
                obj[name] = $(this).val();
            }
        });
        return obj;
    }
    function saveShippingOrder() {
        shippingOrder = toJSONString('divAddShippingOrder');
        console.log(shippingOrder);

        $.ajax({
            type: 'POST',
            data: JSON.stringify(shippingOrder),
            url: "/api/ShipOrder",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                ShippingOrderID = data.ShippingOrderID;

                window.location.href = '/Order/ShipOrders/Index';
            }
        });
    }
    $("#AccountID").change(function ()
    {
        var accountID = $(this).val();
        $.ajax({
            url: "/ShipOrders/GetPartnerAddress?AccountID=" + accountID,
            type: "POST",
            dataType: "JSON",
            data: accountID,
            success: function (res) {
                $("#PartID").val(res[0].PartnerID)
                $("#billAddID").val(res[0].BillingAddressID);
                $("#shipAddID").val(res[0].ShippingAddressID);
                $("#billAddressDetails").text(res[0].BillingAddress1);
                $("#shipAddressDetails").text(res[0].ShippingAddress1);
                $("#billAddressDetails").removeClass("d-none");
                $("#shipAddressDetails").removeClass("d-none");
            }
        });
    })
</script>



