@model IEnumerable<DAL.tblShippingOrder>

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}


<section class="btnTopSection">
    <div class="row">
        <div class="col-8 TiteSEction pl-5">
            <a class="LayoutActionLink mr-2" href="#">
                All Orders
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Open
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Pending
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Delivered
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                UnPaid
            </a>
            <a class="LayoutActionLink mr-2" href="#">
                Paid
            </a>
        </div>
        <div class="col-4 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Export to Excel
            </a>
            <a class="LayoutActionLink" href="/Order/ShipOrders/Create">
                Add Orders +
            </a>

        </div>

    </div>

</section>
<section class="TableSection ">
    <div class="row">
        <div class="col-md-2 TiteSEction pl-5">
            <p class="LayoutsH1">
                Order List
            </p>
        </div>
        <div class="col-md-10 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Today
            </a>
            <a class="LayoutActionLink" href="#">
                Week
            </a>
            <a class="LayoutActionLink" href="#">
                Month
            </a>
        </div>

    </div>
    <table id="example" class="display" style="width:auto">
        <thead class="THeader">

            <tr>
                <th> <input type="checkbox" class="TblCHk" /></th>
                <th>Order ID</th>
                <th>Account ID</th>
                <th>Shipping Address</th>
                <th>Shipping Date</th>
                <th>Status</th>
                <th>Carrier Type</th>
                <th>Order Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{ 
                        string fullAddress =item.tblPartnerShippingAddress.ShipAddress1+", " + item.tblPartnerShippingAddress.ShipCityName + ", " + item.tblPartnerShippingAddress.ShipState_Province + ", " + item.tblPartnerShippingAddress.ShipZip_PostalCode + ", " + item.tblPartnerShippingAddress.tblCountry.CountryName;
                    }
                   
                    <td><input type="checkbox" class="TblCHk" /></td>
                    <td>@item.ShippingOrderNumber</td>
                    <td>@item.AccountID</td>
                    <td>@fullAddress</td>
                    <td>@item.ActualShipDate.Value.ToShortDateString()</td>
                    @if (item.ShippingStatus == "Open")
                    {
                        <td><span class="green"> @item.ShippingStatus</span></td>

                    }
                    else if (item.ShippingStatus == "Inprocess")
                    {

                        <td><span class="skyBlue"> @item.ShippingStatus</span></td>

                    }
                    else if (item.ShippingStatus == "Hold")
                    {

                        <td><span class="red"> @item.ShippingStatus</span></td>

                    }
                    else
                    {
                        <td><span> @item.ShippingStatus</span></td>

                    }
                    <td><span class="orange"> @item.tblShippingCarrier.CarrierType</span></td>


                    <td><span class="red">click here</span></td>
                    <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
                </tr>

            }


        </tbody>
    </table>
</section>






